#page{
    width:960px;
    margin: 0;
    
}
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  main div.video {
    width: 300px;
    margin: 0 10px;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin: 5px;
  }
  
  

